* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #4b9aff;
}

.maincontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

.container1 {
    border-left: 5px solid #ffffff;
    border-radius: 10px;
    min-height: 35vh;
    display: flex;
    align-items: center;
}

.container1 h1 {
    padding-left: 20px;
    color: #ffffff;
    font-size: 3rem;
}

.container2 {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    min-width: 30vw;
    row-gap: 20px;
    padding: 30px;
    border-radius: 6px;
}

button {
    width: 130px;
    height: 48px;
    border-radius: 6px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #4b9bfe;
    color: #ffffff;
}

input::placeholder {
    text-align: center;
}

input {
    width: 150px;
    height: 48px;
    border-radius: 6px;
    padding-left: 6px;
    border: 2px solid black;
    outline: 0;
}

#result {
    font-size: 1rem;
    font-weight: 600;
}

#chances {
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width:768px) {
    .maincontainer {
        height: 85vh;
    }
}

@media (max-width:430px) {
    .maincontainer {
        flex-direction: column;
        row-gap: 15px;
    }

    .container1 {
        border-left: 5px solid #ffffff;
        border-right: 5px solid #ffffff;
        border-radius: 10px;
        min-height: 35vh;
        display: flex;
        align-items: center;
    }

    .container1 h1 {
        padding-left: 0px;
        padding: 20px;
    }
}

@media (max-width:380px) {
    .container2 {
        padding: 30px 20px;
    }
}

@media (max-width:320px) {
    .container2 h2 {
        font-size: 1.3rem;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 6px;
    }

    .container2 {
        padding: 30px 10px;
    }

    #result,
    #chances {
        font-size: 0.9rem;
    }
}